body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family: 'Quicksand';
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: local('Quicksand'), url('./assets/font/Quicksand-Medium.ttf');
}
p {
  font-family: 'Quicksand';
}